<div class="_3uTnjGaICQR0QQJ0b-Nk8k _2yCMxFCzKcIRQuCBS1XZ_k">
    <div class="_3XRWZqdyupCVEnwa2XBFGr homeshoplist">
        <ul class="_2db1e1m154ODnjL1-ivQvq">
            <li data-watch="1118788624027580"><a class="FcKg0z7ZA3tlZo-vSxopN" role="logo" aria-label="真功夫（龙洞）">
                    <div class="_2q5HWkq__CHgEQLE76bhCF" role="logo" aria-label="真功夫（龙洞）"><img
                            src="http://p1.meituan.net/aichequan/a88918ba8699e15a5d16d5d7e09ad0022192.png" alt="icon"
                            class="_3f5at3Y6MnNFz0hFltS3GS">
                        <div>
                            <div class="_2igkDNMjpxxIgHzE1Ptqyk lazyimage-holder" style="height: 57px;"><img
                                    src="http://p1.meituan.net/xianfu/ab3259e1b77a1d4896f20f584087a9c434721.jpg"
                                    alt="icon" class="lazyimage-img"></div>
                        </div>
                    </div>
                    <div class="_2L_M6YlchG3yfnSSg7L6mL">
                        <div class="_3ce4X4pC6NTjqy4_fKHA8E">真功夫（龙洞）</div>
                        <div class="_21yyPg0MxIEFMCg8RnTeUo">
                            <div>
                                <div class="D11MX3M-SDa4TXs8lmgHq" style="height: 10px;"><i
                                        class="_1ukqM-8qHp61SdF68btTCh" style="transform: scale(0.833333);"></i><i
                                        class="_1ukqM-8qHp61SdF68btTCh" style="transform: scale(0.833333);"></i><i
                                        class="_1ukqM-8qHp61SdF68btTCh" style="transform: scale(0.833333);"></i><i
                                        class="_1ukqM-8qHp61SdF68btTCh" style="transform: scale(0.833333);"></i><i
                                        class="_1ukqM-8qHp61SdF68btTCh" style="transform: scale(0.833333);"></i></div>
                                <span class="_34MB4leIjAhG3LXl-DN8Ed _19QQt5prXpFQr9QhCVfwC5">4.6</span><span
                                    class="_1V9_Khfd3oEDl7_xSgGuGL _34MB4leIjAhG3LXl-DN8Ed">月售9999+</span>
                            </div>
                            <div class="_20HnNmr2Skt7lyGyrsg5R7"><span class="_34MB4leIjAhG3LXl-DN8Ed">30分钟</span><span
                                    class="_34MB4leIjAhG3LXl-DN8Ed _3jD4JjJGIR519uivFOA_ud">2.0km</span></div>
                        </div>
                        <div class="_1wRyOmTit2wxvwxcfx4tf1"><span class="_34MB4leIjAhG3LXl-DN8Ed">起送 ¥5</span><span
                                class="_34MB4leIjAhG3LXl-DN8Ed _3jD4JjJGIR519uivFOA_ud">配送 ¥6</span><span
                                class="_34MB4leIjAhG3LXl-DN8Ed _3jD4JjJGIR519uivFOA_ud">人均 ¥31</span></div>
                        <div class="_2t-V7ElqTaDS-PIn3jWR_X"><span class="_2kkldfTxIX9haSW1LXDlCS"></span>
                            <p class="_3ykJaIHGFSdjdQuChaUN6z"><img
                                    src="http://p0.meituan.net/activityconfig/6087b33fd42d14fd94e899084aaef56d1720.png"
                                    alt="activity icon" class="_1vvO5ZUocEXs-aSvyWfhGT"><span
                                    class="_34MB4leIjAhG3LXl-DN8Ed">满38减10;满70减20</span></p>
                            <p class="_3ykJaIHGFSdjdQuChaUN6z"><img
                                    src="http://p0.meituan.net/activityconfig/3da2d9c7a4ddf89e4e71cfdfff168c391088.png"
                                    alt="activity icon" class="_1vvO5ZUocEXs-aSvyWfhGT"><span
                                    class="_34MB4leIjAhG3LXl-DN8Ed">折扣商品5.94折起</span></p>
                            <p class="_3ykJaIHGFSdjdQuChaUN6z"><img
                                    src="http://p0.meituan.net/xianfu/476ba65ee80b6385bab292c085baed17940.png"
                                    alt="activity icon" class="_1vvO5ZUocEXs-aSvyWfhGT"><span
                                    class="_34MB4leIjAhG3LXl-DN8Ed">本店支持开发票，开票金额0元起</span></p>
                        </div>
                    </div><!-- react-empty: 217 -->
                </a></li>
        </ul>
        <div class="_2DWI5MQavfzP27kRciy2ia">
            <div class="_33vevPA4wCUHDSyh8YgZyS"></div><span>正在加载...</span>
        </div>
    </div>
</div>