<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="demo">
        <my-header></my-header>
        <my-header></my-header>
        <my-header></my-header>
        <my-header></my-header>
    </div>
    <script src="../../../js/vue.js"></script>
    <script>
        // 全局注册组件 创建并全局注册
        Vue.component('my-header',{
            // 只能有一个根节点，建议外部有一个div包含组件所有子元素
            template:`
                <div>
                    my-header
                    <hr />
                </div>
            `
        })
        var vm = new Vue({
            el:"#demo",
            data:{
                title:"Hello World"
            }
            // 局部注册组件
            // components
        })
    </script>
</body>
</html>